body {
    font-family: sans-serif;
    background-color: rgb(245, 245, 245);
}

h1 {
    font-size: 24px;
    color: #242424;
    font-weight: 900;
}

h2 {
    font-size: 20px;
    color: #606060;
    font-weight: 800;
}

p {
    font-size: 14px;
    margin-top: 30px;
    margin-bottom: 30px;
}

a {
    font-weight: bold;
}

.lista {
    margin-left: 100px;
    padding: 20px;
    border: 2px solid blue;
    width: 40%;
    list-style-type: none;
}

.lista li {
    font-family: monospace;
    font-size: 18px;
    padding: 10px;
}
.lista li:hover{
    background-color: rgba(0, 0, 0, 0.1);
}

.lista a {
    color: orange;
    text-decoration: underline;
}

.lista li:nth-child(2),
.lista li:nth-child(6),
.lista li:nth-child(2) a,
.lista li:nth-child(6) a{
    color: green;
}