ul{
    display: flex;
    justify-content: space-between;
    gap: 2px;
    list-style: none;
    padding: 0;

}

ul li{
    background-color: rgba(123, 198, 199, 0.8);
    flex: 1 1 0;
}

li a{
    display: block;
    font-family: sans-serif;
    color: black;
}